{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Super Mart | Daily Home Needs</title>
    
    {% load bootstrap5 %} 
    {% bootstrap_css %} 
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="icon" href="{% static 'assets/images/minimart.png' %}"></link>

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
  </head>
  
  <body class="basepage">

    {% include 'navbar.html' %}

    {% block content %}
    
    {% endblock %}

    <script src="{% static 'js/test.js' %}"></script>
  
  </body>
</html>