{% extends 'base.html' %} 

{% load static %}

{% block content %}

<div class="container">
    <h3 class="text-light">Customers List Page 📃</h3>
</div>

<div class="container">
    <a href="/orders/add/customers/">
        <button class="btn btn-primary float-end m-2">+ Add Customer</button>
    </a>
</div>

<div class="container">

    
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Customer Since</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in all_customers %}
            <tr>
                <td>{{customer.customer_name}}</td>
                <td>{{customer.customer_since}}</td>
                <td class="text-center"><a href="{% url 'customer_update' customer.id %}"><button class="btn btn-info">Update</button></a></td>
                <td class="text-center"><a href="{% url 'customer_delete' customer.id %}"><button class="btn btn-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <p class="blue-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perspiciatis tempora minima vero voluptates pariatur ducimus maxime expedita hic repudiandae, voluptatum quos similique corrupti illo recusandae quibusdam nostrum quasi impedit?</p>
    <img src="{% static 'assets/images/nature.jpg' %}" alt="Nature Image" style="height: 100px; width: 150px; margin: 20px;">
    
</div>

{% endblock %}