{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Mart | Login Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'assets/images/minimart.png' %}"></link>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
</head>
<body class="loginpage">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="pageheading mb-4 text-light float-center">Welcome To Super Mart 🛒</h2>
                <br>
                <form action="" method="POST" class="text-light">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="exampleInputEmaill" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPasswordl" class="form-label">Password</label>
                        <input tybe="password" class="form-control" name="password" id="exampleInputPassword1" required>
                    </div>

                    <p class="text-danger fw-bold">{{error}}</p>

                    <button type="submit" class="btn btn-primary">Login <i class="fa-solid fa-right-to-bracket"></i></button>

                </form>

                <a href="/signup/"><button class="btn btn-info float-end"><i class="fa-solid fa-user-plus"></i> Signup</button></a>

            </div>
        </div>
    </div>
</body>
</html>