{% extends 'base.html' %} {% block content %}

<div class="container">
    <a href="/orders/orders/">
        <button class="btn btn-secondary float-end text-dark "><i class="fa-solid fa-arrow-left"></i> Back</button>
    </a>
    <h3 class="pageheading text-light mt-4">Adding Orders</h3>
    <form action="" method="post" class="text-light">
        {% csrf_token %}
        {{order_form}}
        <input type="submit" value="+ Add Order" class="btn btn-primary mt-1 mx-2">
    </form>
</div>

{% endblock %}